<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp" ng-controller="NarrowItDownController as narrowItDown">
  <div class="container" >
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group">
      <input type="text" ng-model="narrowItDown.searchString" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narrowItDown.findItems();" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-info" ng-if="narrowItDown.showError">Nothing found</div>
    <found-items items="narrowItDown.foundItems" on-remove="narrowItDown.removeItem(index)">
      <div class="loader"></div>
    </found-items>
  </div>

</body>
</html>
